@model Assignment1.Models.BooksBorrowed

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BooksBorrowed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBorrowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBorrowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BorrowedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
