@model IEnumerable<Assignment1.Models.BooksBorrowed>

@{
    ViewData["Title"] = "Books Borrowed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books Borrowed</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Book ID
            </th>
            <th>
                Member ID
            </th>
            <th>
                Book Title
            </th>
            <th>
                Name
            </th>
            <th>
                Date Borrowed
            </th>
            <th>
                Return Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFname)  @Html.DisplayFor(modelItem => item.MemberLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
