@model Assignment1.Models.Member

@{
    ViewData["Title"] = "Member Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Member Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           First Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberFname)
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberLname)
        </dd>
        <dt class = "col-sm-2">
            Contact Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Validity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expiration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
